@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(https://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding-top: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

.sidebar-kiri {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #252a32;
  color: #fff;
  overflow: hidden;
  transition: width .3s ease-in-out;
  z-index: 100;
}
.sidebar-kiri:hover {
  width: 200px;
}
.sidebar-kiri:hover .main-nav ul li a {
  opacity: 1;
  left: 0;
  transition-delay: .2s;
}
.sidebar-kiri .main-nav ul li {
  min-height: 50px;
  line-height: 50px;
  position: relative;
  border-bottom: 1px solid #303641;
  transition: all .3s ease-in-out;
}
.sidebar-kiri .main-nav ul li.logo a {
  text-transform: uppercase;
  font-weight: 800;
}

.sidebar-kiri .main-nav ul li.logo span:before {
  color: #1FCFC6;
  font-size: 1.25em;
}
.sidebar-kiri .main-nav ul li.logo + li {
  border-top: 1px solid #303641;
}
.sidebar-kiri .main-nav ul li a {
  display: block;
  padding-left: 50px;
  position: relative;
  left: 15px;
  opacity: 0;
  transition: all .3s ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
  font-weight: 300;
}
.sidebar-kiri .main-nav ul li span {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  text-align: center;
}
.sidebar-kiri .main-nav ul li span:before {
  font-size: 1.25em;
  transition: all .3s ease-in-out;
}
.sidebar-kiri .main-nav ul li:hover {
  background-color: #1b1e24;
}
.sidebar-kiri .main-nav ul li:hover span:before {
  color: #1FCFC6;
}

.content {
  position: relative;
}
.img-fluid {
  max-width: 175px;
  max-height: 175px;
}
.breaker {
    padding-right: -100px;
}